.Chef {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    margin: 1em;
    gap: 5em;
    background: #b95f20;
    color: #fff;
    border-radius: 1em;
    img {
        border-radius: 1em;
    }
    h3 {
        font-size: 30px;
        font-weight: bold;
    }
    p {
        font-size: 20px;
    }
}
.orderbtn {
    background: orange;
    color: #fff;
    border: 1px solid #fff;
    border-radius: .5em;
    font-size: 20px;
    font-weight: bolder;
    width: fit-content;
    padding: .3em;
    margin: .2em;
    border: none;
    cursor: pointer;
}