.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 1rem 3rem;

  h1 {
    color: #fff;
    margin: 0;
    font-size: 1.8rem;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 3rem;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 1rem;
      transition: color 0.3s ease;

      &:hover {
        color: orangered;
      }
    }
  }
}
