.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    .food-dynasty{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-left: 1rem;
    }
    .nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    }
    .nav a {
        text-decoration: none;
        color: #000;
    }
}