.navbar {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
  .nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
  }
  .nav a {
    text-decoration: none;
    color: #000;
  }
  .nav a:hover {
    color: orangered;
  }
  .food-dynasty img {
    width: 150px;
  }
  .food-dynasty {
    margin-top: 1rem;
    padding-left: 1rem;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
