.search {
  background: orange;
  border: none;
  border-radius: 5em;
  height: 35px;
  padding-inline-start: 5em;
}
.search-svg {
  transform: translate(1rem, 2rem);
}
.t_s {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 2em;
}
h1 {
  text-align: center;
  font-weight: bold;
}
.backgroundofmenu {
  background: #b95f20;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em;
  padding: 1em;
}
