.mainOfContact {
    h1 {
        padding: 1em;
    }
    .mainOfInputs {
        display: flex;
        justify-content: space-around;
        padding: 2.5em;
        margin: 2.5em;
        gap: 3em;
        align-items: center;
        background: #f8efe8;
    }

    .inputs {
    display: flex;
    flex-direction: column;
    gap: .5em;

    input {
        width: 100%;
        height: 3em;
        border: 1px black solid;
        border-radius: .5em;
        background: #f8efe8;
    }

    .btn {
        margin-top: 1em;
        border: none;
        background: #f49b33;
        border-radius: .5em;
        height: 3em;
        width: 50%;
        color: #fff;
        font-weight: bold;
    }
}


    .mainPartTwo {
        display: flex;
        padding: 2.5em;
        margin: 2.5em;
        background-image: linear-gradient(rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)),
        url(Asset.png);
        img {
            height: 400px;
            width: 400px;
        }
        span {
            color: orange;
        }
        svg {
            font-size: 25px;
            cursor: pointer;
        }
    }
}