.main {
  height: calc(100vh - 80px);
  background: url(advertising_testimonial.jpg) center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    color: #fff;
    font-size: clamp(3rem, 8vw, 7.5rem);
    font-weight: 700;
    text-transform: capitalize;
    text-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  }
}
